/* options/select wrapper with switch anchors */
.cbp-vm-variants {
    min-height: 35px;
    line-height: 35px;
    font-weight: bold;
}

.media-object { width: 30px; height: 30px; }

#catalog_content ul {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

#catalog_content li {
    display: inline-block;
}

#catalog_content .break a {
    cursor: default;
}
